#app {
    width: 336px;
    height: 280px;
    background-color: #f4c2c2;
}

#weathertype {
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    
    padding-top: 20px;
}

#temperature {
    font-size: 20px;
    color: #fff;
    text-align: center;
}